### JetBrains IDE's ###
.idea

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

### Vagrant Patch ###
*.box

### User settings ###
group_vars/all

### NodeJS
node_modules/
